body {
    display: flex;
    justify-content: center;
    height: 100vh;
    font-family: 'Poppins', sans-serif;
    background: rgb(0, 204, 255);
}

.todo {
    padding: 30px;
    width: 300px;
}

header h1 {
    text-align: center;
    color: #fff;
    font-weight: 900;
}

form {
    display: flex;
}

#todo-input {
    width: 100%;
    border: 0;
    height: 40px;
    padding: 0 18px;
    font-family: 'Poppins', sans-serif;
    font-size: 16px;
    font-weight: 400;
    color: rgb(0, 87, 109);
    outline: none;
}

#todo-button {
    display: flex;
    align-items: center;
    font-size: 24px;
    background-color: transparent;
    border: 0;
    color: rgb(0, 204, 255);
    transition: .2s;
    outline: none;
    background: #fff;
    cursor: pointer;
}

#todo-button:hover {
    background-color: rgb(0, 87, 109);
    color: #fff;
    transition: .2s;
}

#todo-list {
    list-style-type: none;
    padding: 0;
}

.todo-wrapper {
    display: flex;
    height: 30px;
    margin: 8px 0;
}

.todo-item {
    color: #fff;
    font-weight: 400;
    width: 100%;
    padding: 0 8px;
    line-height: 30px;
}

button,
.todo-item {
    cursor: pointer;
    transition: .2s;
}

.complete-button {
    background: transparent;
    border: 0;
    outline: 0;
    padding: 0;
}

.delete-button {
    background: transparent;
    border: 0;
    outline: 0;
}

.fa-check, 
.fa-trash {
    pointer-events: none;
}

.fa-trash {
    color: rgb(0, 87, 109);
}

.complete-button {
    color: #000;
    opacity: .2;
    transition: .2s;
}

.checked > :first-child {
    color: #fff;
    opacity: 1;
    transition: .2s;
}

.checked > :nth-child(2) {
    color: rgb(0, 87, 109);
    opacity: .5;
    text-decoration: line-through;
    transition: .2s;
}